.navbar {
    background: linear-gradient(90deg, var(--accent1) 0%, var(--accent2) 100%);
    border-radius: 20px;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
    margin: 0;
  }
  
  .navbar ul li {
    margin: 0 2%;
    list-style: none;
  }
  
  .navbar-icon {
    width: 2rem;
    height: 2rem;
    padding: 0;
    color: var(--bg);
    transition: all 150ms;
  }
  
  .navbar-icon-active, .navbar-icon:hover {
    color: var(--text);
  }
  