:root {
  --bg: #41444E;
  --bg-dark: #2C3337;
  --neutral-light: #CFC9DB;
  --text: #F9F9F9;
  --accent1: #AA8DC0;
  --accent2: #4A8AD6;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.App {
  background: linear-gradient(90deg, var(--accent1) 0%, var(--accent2) 100%);
  height: 100vh;
  justify-content: end;
  /* border-radius: 20px; */
}

.App h1 {
  text-align: center;
  color: var(--bg);
}

.App-content {
  background: var(--bg);
  color: var(--text);
  height: 90%;
  max-height: 90%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem;
}
